.home-page-title {
    color: white;
    font-size: 64px;
    text-align: center;
    padding-top: 220px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    text-shadow: 2px 2px 2px black;
}
.home-button {  
    padding-top: 60px; 
    text-align: center;
}

.home-button > button {
    width: 210px;
    height: 60px; 
    font-size: 28px;
    color: white;
    background-color: rgba(58, 30, 56, 0.6);
    box-shadow: 0 0 6px white;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}
.home-button > button:hover {
    transition: all 0.3s;
    box-shadow: 0 0 10px white;
    background-color: rgb(58, 30, 56, 0.3);
    
}

